<% layout('layouts/boilerplate')%>
<div class="mb-3">
    <div id="cluster-map"></div>
</div>
<div class="container">
  <% for (let bikerack of bikeracks){%>
    <div class="card mb-3">
        <h5 class="card-header"><%= bikerack.location %></h5>
      <div class="row">
        <div class="col-md-4">
          <%if(bikerack.images.length) {%>
          <img
            class="img-thumbnail rounded mx-auto d-block"
            alt=""
            src="<%=bikerack.images[0].url%>"
            crossorigin=""
          />
          <% }else {%>
          <img
            class="img-fluid"
            alt="Image of a bike rack"
            src="https://res.cloudinary.com/ds2hafwml/image/upload/v1655896331/Toronto%20Bike%20Racks/image_not_available.jpg"
            crossorigin=""
          />
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Capacity: <%= bikerack.capacity%></h5>
            <h6 class="card-subtitle mb-2 text-muted">Type: <%= bikerack.title%></h6>
            <p class="card-text"><%= bikerack.description %></p>
            <a class="btn btn-primary" href="/bikeracks/<%=bikerack._id%>"
              >More Info</a
            >
          </div>
        </div>
      </div>
    </div>
  <% }%>
</div>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const bikeracks = { features: <%- JSON.stringify(bikeracks) %>}
</script>

<script src="/javascripts/clustermap.js"></script>
